# Flutter/Dart
.dart_tool/
.packages
.pub-cache/
build/
.pub/

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/App.framework
ios/Flutter/Flutter.podspec

# Android
android/.gradle/
android/local.properties
android/app/build/

# VSCode / IntelliJ
.vscode/
.idea/

# macOS
.DS_Store
